Repository johnktravers/play, pull requests merged in 2020-02, with the labels that each got.

#33 Add endpoint for a POST request to `/api/v1/playlists`
  app.js
  routes/api/v1/playlists.js
  tests/favorites/add-favorite.spec.js
  tests/favorites/delete-favorite.spec.js
  tests/favorites/view-favorite-by-id.spec.js
  tests/favorites/view-favorites.spec.js
  tests/playlists/add-playlist.spec.js
Labels: Playlists

#42 Update test file structures, camelCase file names, and orderBY id on GET requests to /playlists
  README.md
  routes/api/v1/favorites.js
  routes/api/v1/playlists.js
  services/musixmatchService.js
  tests/favorites/add-favorite.spec.js
  tests/favorites/delete-favorite.spec.js
  tests/favorites/favorites.spec.js
  tests/favorites/view-favorite-by-id.spec.js
  tests/favorites/view-favorites.spec.js
  tests/playlists/add-playlist.spec.js
  tests/playlists/deletePlaylist.spec.js
  tests/playlists/playlist.spec.js
  tests/playlists/update-playlist.spec.js
  tests/playlists/view-playlists.spec.js
Labels: Playlists, chore

#50 48 Add a many to many relationship between playlists and favorites
  db/migrations/20200211142429_playlistFavorites.js
Labels: favs and playlists

#53 51 add timestamps and favorite uniqueness to playlistFavorites table
  db/migrations/20200211161757_addTimestampsToPlaylistFavorites.js
  db/migrations/20200211162142_addUniquenessToPlaylistFavorites.js
Labels: favs and playlists

#54 46 User Can Delete A Favorite From A Playlist
  README.md
  routes/api/v1/playlists.js
  tests/playlistFavorites.spec.js
Labels: favs and playlists

#55 47 Refactor GET /api/v1/playlists
  README.md
  routes/api/v1/playlists.js
  tests/playlists.spec.js
Labels: favs and playlists

#56 45 User GET Playlist Favorites
  README.md
  routes/api/v1/playlists.js
  tests/playlistFavorites.spec.js
Labels: favs and playlists
